:root {
 --text-text-1: #111827;
 --text-text-2: #585f6a;
 --text-text-3: #9299a5;
 --text-text--white: #fff;
 --text-link: #3f7cff;
 --text-link-hover: #3d6dd7;
 --borders-border-1: #ebedf1;
 --borders-border-2: #d9dbdf;
 --borders-border-3: #b7beca;
 --borders-border-4: #2e3444;
 --borders-border-black: #111827;
 --borders-border-brand: #4c84fd;
 --borders-border-error: #e83838;
 --background-bg-base: #E1E1E1;
 --background-bg-0: #fff;
 --background-bg-1: #eef1f9;
 --background-bg-2: #edeef0;
 --background-bg-3: #e5e7eb;
 --background-bg-4: #f7f8fb;
 --background-bg-green: #ecfdf5;
 --background-bg-orange: #fff8eb;
 --background-bg-blue: #f1f6fe;
 --button-main-orange: #fa9621;
 --button-main-red-hover: #ed8a16;
 --button-main-blue: #4c84fd;
 --button-main-blue-hover: #0b50e3;
 --button-main-green: #10b981;
 --button-main-green-hover: #0aad77;
 --button-main-overlay: #fff;
 --button-main-overlay-hover: rgba(255, 255, 255, 0.9);
 --button-main-no-active: #c3c7cb;
 --button-secondary-light-orange: #fff7eb;
 --button-secondary-light-orange-hover: #fff2df;
 --button-secondary-light-blue: #e1eafe;
 --button-secondary-light-blue-hover: #cbdbff;
 --button-secondary-light-green: #ecfaf5;
 --button-secondary-light-green-hover: #dbf5ec;
 --button-secondary-grey: #f4f5f6;
 --button-secondary-grey-hover: #ebecee;
 --button-secondary-overlay: rgba(255, 255, 255, 0.12);
 --button-secondary-overlay-hover: rgba(255, 255, 255, 0.17);
 --brand-colors-main: #f02d39;
 --brand-colors-secondary-1: #de7337;
 --brand-colors-secondary-2: #b29b81;
}

:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Golos Text", sans-serif;
  --third-family: "Inter", sans-serif;
  --font3: "NT Somic", sans-serif;
  
  --fs-h1: clamp(28px, 5vw, 80px);
  --fs-nav: clamp(14px, 2.2vw, 20px);
  --fs-article-title: clamp(18px, 3.6vw, 42px);
  --fs-article-text: clamp(14px, 2.15vw, 18px);
  --fs-description: clamp(12px, 2vw, 20px);
  --fs-pagination: clamp(12px, 2vw, 18px);
  --fs-show-more: clamp(14px, 2.1vw, 20px);
  --fs-article-name: clamp(16px, 2.3vw, 32px);
  
  --section-padding: clamp(10px, 1vw, 40px);
  --block-radius: clamp(10px, 2vw, 32px);
  --gap-small: clamp(5px, 0.5vw, 20px);
  --gap-large: clamp(15px, 1vw, 40px);
  --banner-height: clamp(200px, 35vw, 530px);
  --img-height-container: clamp(150px, 28vw, 310px);
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--background-bg-1);
}

.main-block{
    width: 100%;
    text-align: center;
    padding: 10px;
    overflow: hidden;
}

.main-content{
    width: 100%;
    display: inline-block;
    max-width: 1800px;
}

.content-block{
    width: 100%;
    background-color: var(--background-bg-1);
    border-radius: 20px;
    padding: 0;
    margin-top: 20px;
    padding-bottom: 70px;
}

.content-block h1{
    font-size: 80px;
    color: var(--text-text-1);
    font-family: var(--font-family);
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 115%;
}

.projects-nav{
    display: block;
    text-align: left;
}


.projects-nav-elem{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-top: 5px;
}

.projects-nav-elem{
    background-color: var(--background-bg-4);
    padding: 14px 24px 16px 24px;
    border-radius: 10px;
}

.projects-nav-elem p{
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 120%;
    color: var(--text-text-1);
    font-weight: 500;
}

.projects-nav-elem--active{
    background-color: var(--button-main-blue);
}

.projects-nav-elem--active p{
    color: var(--text-text--white);
}

.articles{
    display: grid;
    grid-template-columns: 32.4% 32.4% 32.4%;
    gap: 1.4%;
    margin-top: 40px;
}

.articles.two-articles{
    grid-template-columns: 39% 59.6%;
    gap: 1.4%;
}

.articles article{
    margin-bottom: 30px;
    width: 100%;
    overflow: hidden;
}

.article-link{
    text-decoration: none;
    color: var(--text-text-1);
}

.articles figure{
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding-bottom: 30px;
    text-align: left;
}

.articles img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
}


.img-container{
    background-color: var(--background-bg-base);
    border-radius: 32px;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.simple-img-container{
    aspect-ratio: 1/1.15;
}

.two-articles .img-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.two-articles .first-img-container{
    aspect-ratio: 1.1/1;
}

.two-articles .second-img-container{
    aspect-ratio: 1.681/1;
}

.img-inner-block{
    position: absolute; 
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

.arrow-link{
    width: 58px;
    height: 58px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: var(--button-main-blue);
    border-radius: 100%;
    opacity: 0;
    transition-duration: 0.5s;
}

.arrow-link img{
    width: 20px;
}

.article-link:hover .arrow-link{
    opacity: 1;
    transition-duration: 0.5s;
}

.categories-block{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.category-container{
    background: var(--background-bg-4);
    border-radius: 20px;
    padding: 7px 16px;
    font-size: 20px;
    line-height: 120%;
    font-weight: 500;
}


.articles figcaption{
    margin-top: 15px;
}

.articles figcaption .article-name{
    font-family: var(--font-family);
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 119%;
    color: var(--text-text-1);
    font-weight: 500;
}


.articles figcaption .article-description{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--text-text-2);
}


/*END OF TECHNOLOGY BLOCK*/

/*START OF PAGINATION CODE*/
.pagination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: var(--font-family);
  margin-top: 70px;
}

.show-more-container{
  background: var(--borders-border-brand);
  color: var(--text-text--white);
  text-decoration: none;
  border-radius: 10px;
  padding: 14px 24px;
}

.show-more{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--text-text--white);
    text-decoration: none;
}

.pagination {
  display: flex;
  gap: 12px;
}

.page{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 144%;
    color: var(--text-text-1);
    border-radius: 12px;
    width: 58px;
    height: 58px;
    background: var(--background-bg-4);
    text-decoration: none;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.page.active {
  background: var(--button-main-blue);
  color: var(--text-text--white);
  font-family: var(--second-family);
}

.next {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 144%;
    color: var(--button-main-blue);
    border-radius: 12px;
    padding: 17px 16px 17px 24px;
    text-decoration: none;
    background: var(--background-bg-4);
}

.page:hover:not(.active),
.next:hover {
  background-color: #e2e6f0;
}
/*END OF PAGINATION CODE*/


/*Unique font-size for device with max-width: 1360px*/
@media (max-width: 1360px){
    .content-block h1 {
      font-size: var(--fs-h1);
    }
    
    
    .articles figcaption .article-description {
      font-size: var(--fs-description);
    }
    
    .articles figcaption .article-name{
      font-size: var(--fs-article-name);
    }
    
    /* Размеры блоков */
    .main-block {
      padding: var(--section-padding);
    }
    
    .content-block {
      border-radius: var(--block-radius);
      margin-top: var(--gap-large);
      padding-bottom: var(--gap-large);
    }
    
    .projects-nav {
      gap: var(--gap-small);
    }
    
    .projects-nav-elem {
      padding: var(--gap-small) var(--gap-large);
      border-radius: var(--block-radius);
    }
    
    .articles figcaption {
      margin-top: var(--gap-small);
    }
    
    .articles figcaption .article-name {
      margin-top: var(--gap-small);
      margin-bottom: var(--gap-small);
    }
    
    .articles article {
      margin-bottom: var(--gap-small);
    }
}
/*End of unique font-size*/

@media (max-width: 1200px) {
  .articles {
    grid-template-columns: 1fr 1fr;
    gap: 2%;
  }
}

@media (max-width: 1000px){
    .articles.two-articles{
        grid-template-columns: 100%;
        gap: 1.4%;
    }
    
    
    .two-articles .second-img-container{
        aspect-ratio: 1/1;
    }
}

@media (max-width: 800px){
  
}

@media (max-width: 768px) {
  .show-more {
    padding: 12px 36px;
    font-size: 16px;
  }
  
  .page, .next {
    padding: 14px 20px;
  }
  
  .next {
    padding: 14px 30px;
  }
}

@media (max-width: 576px) {
  .articles {
    grid-template-columns: 1fr;
    gap: 0;
  }
  
  .pagination {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .pagination-container {
    margin-top: 40px;
  }
}

@media (max-width: 576px) {
 
    .projects-nav-elem{
        margin-right: 5px;
        margin-top: 5px;
    }   
    
    .articles {
        grid-template-columns: 1fr;
        gap: 0;
    }
      
    .pagination {
        flex-wrap: wrap;
        justify-content: center;
    }
      
    .pagination-container {
        margin-top: 40px;
    }
      
    
    .projects-nav-elem p{ 
        font-size:  15px;
        line-height: 147%;
    }


    .content-block h1{
        font-weight: 500;
        font-size: 38px;
        line-height: 116%;
    }
    
    .projects-nav-elem{
        padding: 7px 12px 9px 12px;
        border-radius: 6px;
    }
    
    .projects-nav-elem p{
        font-size: 15px;
        line-height: 147%;
        font-weight: 400;
    }

    .img-container{
        border-radius: 18px;
        overflow: hidden;
    }
    
    .category-container{
        padding: 4px 12px;
        font-size: 14px;
        font-weight: 700;
        line-height: 143%;
    }
    
    
    .articles figcaption .article-name{
        font-size: 24px;
        line-height: 117%;
        font-weight: 500; 
    }
    
    .articles figcaption .article-description{
        font-size: 16px;
        line-height: 137%;
        font-weight: 400;
    }
    
    /*START OF PAGINATION CODE*/
    .pagination-container {
      gap: 10px;
      margin-top: 70px;
    }
    
    .show-more-container{
        width: 100%;
        text-align: center;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .show-more{
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 137%;
    }
    
    .pagination{
        width: 100%;
        display: grid;
        padding: 10px;
        grid-template-columns: 15.8% 15.8% 15.8% 15.8% 15.8% 16%;
        gap: 2%;
    }
    
    .page{
        font-size: 14px;
        line-height: 143%;
        border-radius: 10px;
        width: 100%;
        height: auto; 
        display: flex;
        padding: 0;
    }
    
    
    .next {
        font-size: 14px;
        line-height: 144%;
        border-radius: 10px;
        padding: 10px;
    }
    

    .next .not-for-mobile{
        display: none; 
    }

}

@media (max-width: 375px){
    
}

@media (max-width: 300px){
    .category-container{
        font-size: 10px;
    }
    
    .content-block h1{
        font-size: 30px;
    }
    
    .projects-nav-elem p{
        font-size: 12px;
    }

    .img-container{
        border-radius: 12px;
    }
    
    .articles figcaption .article-name{
        font-size: 24px; 
    }
    
    .articles figcaption .article-description{
        font-size: 12px;
        line-height: 137%;
        font-weight: 400;
    }


}
